<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.kexie.android.arch.ioc">
    <application>
        <provider
            android:authorities="${applicationId}.dependencies-initializer"
            android:name=".DependenciesInitializer"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>
